*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: rgb(80, 80, 236);
    &:hover {
        text-decoration: underline;
    }
}

header {

    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    .logo-holder {
        display: flex;
        padding: 10px;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            font-size: 32px;
            justify-content: center;
            background-color: rgb(80, 80, 236);
            color: #f1f1f1;
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
        }

        .logo-text {
            font-size: 25px;
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 10px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    &:hover {
                        background-color: #f1f1f1;
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }

            }
        }
    }
}