*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #171616;


a {
    text-decoration: none;
    color: rgb(226, 234, 231);
}

header {

    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;

    .logo-holder {
        display: flex;
        padding: 10px;
        align-items: center;

        /*.logo {
            display: flex;
            align-items: center;
            font-size: 32px;
            justify-content: center;
            background-color: rgb(7, 219, 123);
            color: #f1f1f1;
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
        }*/

        .logo-text {
            font-size: 25px;
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 10px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    &:hover {
                        background-color: rgb(7, 219, 123);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }

            }
        }

        .mobile-toggle {
            display: none;
            color: rgb(226, 234, 231);
            padding: 10px;
            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        nav {
            margin-top: 10px;
            width: 100%;
            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                &.active {
                    display: flex;
                }
            }
        }
    }

}
    
    .welcome {
        display: flex;
        align-items: center;
        flex-direction: column;         
        justify-content: center;     
        text-align: center;
    }


    .welcome-text {
        font-size: 150px;
        font-weight: 700;
        color: rgb(7, 219, 123);
    }

    .to {
        font-size: 100px;
        font-weight: 700;
        color: rgb(226, 234, 231);
    }

    .world-text {
        font-size: 150px;
        font-weight: 700;
        color: rgb(226, 234, 231);
    }


    section {
        max-width: 1440px;
        margin: auto;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (max-width: 1440px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .resume-button {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 30px;
        border-radius: 10px;
        border: 2px solid rgb(7, 219, 123);
        background: linear-gradient(
        to left,
        #171616 0%,
        #171616 50%,
        rgb(7, 219, 123) 50%,
        rgb(7, 219, 123) 100%
        );
        background-size: 200% 100%;              /* make gradient wider than button */
        background-position: right;               /* start position */
        transition: background-position 0.4s ease;

        &:hover {
            background-position: left; 
        }
    }


    .social-button {
        display: inline-block;
        border: 2px solid rgb(7, 219, 123);
        border-radius: 20px;
        &:hover {
            background-color:rgb(7, 219, 123);
        }
    }



    .hero {
        display: flex;
        .hello {
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .hero-green {
            flex: 1;
            background-color:rgb(7, 219, 123);
            border-radius: 30px;
            padding: 0px 3px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            /*img {
                margin-top: -60px;
            }*/
        }
    }



}